@font-face {
  font-family: "Hkgrotesk" ;
  src: url('https://assets.website-files.com/60759d68c40946f0d9eb7a9f/60c316454b27bf967103bd39_HKGrotesk-Medium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hkgrotesk"
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  position: absolute;
  z-index: 1000;
  width: 500px;
  height: 110px;
  right: 20px;
  bottom: 20px;
}

.logo img {
  height: 100%;
  width: 100%;
}

.timestamp {
  position:absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  color: #f9f9f9;
  font-size: 110px;
  padding: 20px;
  font-family: "Hkgrotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  line-height: 110px;
  display: flex;
  justify-content: space-between;
}

.timestamp div {
  margin-right: 60px;
}
